.boxBotoes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
}

button {
  display: flex;
  justify-content: center;
  background-color: #4e5894c6;
  color: #d3cefff6;
  box-shadow: -3px -3px 2px rgba(0, 0, 0, 0.776);
  font-family: "Anton", sans-serif;
  border: none;
  cursor: pointer;
  font-family: "Space mono", monospace;
  text-transform: uppercase;
  position: relative;
  transition: transform 0, 6s ease-in-out, text-shadow 0.25s ease-in-out; /*faz o movimento do clique mais suave*/
}

/*Efeito de afundamento do botão ao clicar*/
button:active {
  transform: translate(2px, 2px); /*move o botão levemente*/
  box-shadow: 0 4px 4px white; /*adiciona uma sombra mais suave complementando o movimento*/
}

button:hover {
  box-shadow: 0 0 15px #0ff, 0 0 10px #0ff, 0 0 5px #0ff;
  text-shadow: 0 0 15px #0ff, 0 0 10px #0ff, 0 0 5px #0ff;
  color: #0ff;
}

.inputNovoLivro {
  background-color: #17213f;
  color: #0ff;
  box-shadow: -3px -3px 2px rgba(0, 0, 0, 0.776);
  border: none;
  border-radius: 1px;
  font-family: "Space mono", monospace;
}

.botaoAdicionar {
  color: #0ff;
}

.botaoAdicionar:hover {
  color: black;
}
