.boxCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70svh;
  font-family: "Space mono", monospace;
  width: 100%;
  box-shadow: -3px -3px 2px rgba(0, 0, 0, 0.776);
  background-color: #17213f;
  border-right: 1px solid rgba(0, 0, 0, 0.742);
  border-bottom: 1px solid rgba(0, 0, 0, 0.742);
}

.card {
  height: 40px;
  display: flex;
  align-items: baseline;
}
.minhaBiblioTitulo {
  display: flex;
  justify-content: center;
  color: #d3ceffc5; /* burlywood*/
  font-family: "anton", sans-serif;
}
.tituloLivro {
  display: flex;
  gap: 10px;
  align-items: center;
  color: rgba(251, 244, 244, 0.937);
  font-size: 15px;
}
.bolinhaStatus {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.796);
}
.autor {
  padding: 5px;
  color: rgb(42, 102, 223);
  font-size: 12px;
}
.ano {
  color: rgba(147, 155, 154, 0.824);
  font-size: 12px;
}
