.boxBotoes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}

button {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 255, 255, 0.811);
  color: navy;
  /* border-radius: 5px; */
  box-shadow: 1px 2px 2px gray;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.inputNovoLivro {
  background-color: paleturquoise;
  box-shadow: -2px -2px 3px rgb(86, 84, 84);
  border: none;
  border-radius: 1px;
}
.botaoLido {
  background-color: rgba(153, 205, 50, 0.788);
}
.botaoNaoLido {
  background-color: rgba(255, 255, 0, 0.836);
}
.botaoAdicionar {
  background-color: rgba(128, 128, 128, 0.842);
  color: azure;
}
